{% block body_text %}
    {% autoescape false %}
        <h3>{{ 'emails.confirmation.header' | trans }}</h3>

        <p>{{ 'emails.confirmation.content.your_password' | trans }} <strong>{{ pass }}</strong></p>
        <p>{{ 'emails.confirmation.content.please_confirm' | trans }} <a href="{{ url('confirmation', {'token': token}) }}">{{ url('confirmation', {'token': token}) }}</a></p>

        <p>{{ 'emails.confirmation.content.greetings' |trans }}</p>
        <p>{{ 'emails.confirmation.content.team' |trans }}</p>
    {% endautoescape %}
{% endblock %}
