{% extends 'AppBundle:Emails:template.html.twig' %}

{% block preheader %}
    {% set firstResult= data.results|first %}
    {{ firstResult.title }} - {{ firstResult.price }}
{% endblock %}

{% block header %}
    <h2 class="align-center">{{ 'email.results.header'|trans }}</h2>
{% endblock %}

{% block body %}
    {% set filter = data.filter %}
    {% set results = data.results %}
    <table style="border-spacing: 0; width: 100%">
        <tbody>
            <tr class="filter-name">
                <td>{{ filter.name|upper }}</td>
            </tr>
            <tr class="spacer"><td></td></tr>

            {% for result in results %}
                <tr class="section">
                    <td style="
                        padding: 0 15px;
                        border: 1px solid #ededed;
                        border-radius: 3px;
                        overflow: hidden;">
                        <table class="info" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="border-bottom: 1px solid #ededed;" class="col-name">{{ 'results.title'|trans }}</td>
                                    <td style="border-bottom: 1px solid #ededed;" class="col-content">{{ result.title }}</td>
                                </tr>
                                <tr>
                                    <td style="border-bottom: 1px solid #ededed;" class="col-name">{{ 'results.link'|trans }}</td>
                                    <td style="border-bottom: 1px solid #ededed;" class="col-content"><a class="no-decoration" href="{{ result.url }}">{{ 'email.result_link'|trans }}</a></td>
                                </tr>
                                <tr>
                                    <td style="border-bottom: 1px solid #ededed;" class="col-name">{{ 'results.price'|trans }}</td>
                                    <td style="border-bottom: 1px solid #ededed;" class="col-content" style="color: red">{{ result.price }}</td>
                                </tr>
                                <tr>
                                    <td class="col-name">{{ 'results.details'|trans }}</td>
                                    <td class="col-content">{{ result.details }}</td>
                                </tr>
                                {% if result.image %}
                                    <tr>
                                        <td class="col-name">{{ 'results.image'|trans }}</td>
                                        <td><img src="{{ 'data:image/jpg;base64,' ~ result.image }}"></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="spacer"><td></td></tr>
            {% endfor %}
                <tr>
                    <td class="cancel-filter"><a class="no-decoration" href="{{ base_url ~ path('app_deactivate_filter', {'token': filter.deactivationToken}) }}">{{ 'email.unsuscribe'|trans }}</a></td>
                </tr>
        </tbody>
    </table>
{% endblock %}

