{% extends "AppBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
            <div id="fos_user_registration_form">
                <div class="text-center sif-white">
                    <h2>{{ 'resetting.title'|trans }}</h2>
                </div>
                {{ form_widget(form) }}
            </div>
            <div>
                <input class="btn btn-block sif-button" type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
{% endblock %}