{% extends '::base.html.twig' %}

{% block body %}
    <h2><a href="{{ path('filter_create') }}"><span class="glyphicon glyphicon-plus"></span></a></h2>
    <table class="table table-striped table-condensed">
        <caption> Filter table. </caption>
        <thead>
        <tr>
            <th>#</th>
            <th>Website</th>
            <th>Filter Name</th>
            <th>Filter Url</th>
            <th>Delete</th>
            <th>Show results</th>
        </tr>
        </thead>
        <tbody>
        {% for row in filters %}
            <tr>
                <th>
                    {{ row.id }}
                </th>
                <th>
                    {{ row.site.name }}
                </th>
                <th>
                    {{ row.filterName }}
                </th>
                <th>
                    <a href="{{ row.url }}" target="_blank">{{ row.url|length > 50 ? row.url|slice(0, 50) ~ '...' : row.url  }}</a>
                </th>
                <th>
                    <a href="{{ path('filter_delete', {'id': row.id }) }}"><span class="glyphicon glyphicon-remove"></span></a>
                </th>
                <th>
                    <a href="{{ path('filter_results', {'id': row.id}) }}"><span class="glyphicon glyphicon-list"></span></a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
