{% extends '::base.html.twig' %}

{% block body %}
    <h2><a href="{{ path('filter_create') }}"><span class="glyphicon glyphicon-plus"></span></a></h2>
    <table class="table">
        <caption> Filter table. </caption>
        <thead>
        <tr>
            <th>#</th>
            <th>Website</th>
            <th>Filter Url</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for row in filters %}
            <tr>
                <th>
                    {{ row.id }}
                </th>
                <th>
                    {{ row.site.name }}
                </th>
                <th>
                    {{ row.url }}
                </th>
                <th>
                    <a href="{{ path('filter_delete', {'id': row.id }) }}"><span class="glyphicon glyphicon-remove"></span></a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
