{% extends "AppBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" role="form">

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" autofocus="" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="remember-me"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                        </label>
                    </div>

                    <input type="submit" id="_submit" name="_submit" class="btn btn-info btn-block" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                            Don't have an account!
                            <a href="{{ path('fos_user_registration_register')}}">Sign Up Here</a>
                            <br>
                            <a href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
