{% extends "::base.html.twig" %}

{% block body %}
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="page-wrap">
            <section class="pageSection">
                <div class="container">
                    <div class="row">
                        <div class="pageHero-content">
                            <h1>See it first</h1>
                            <div class="description">
                                <p>The easiest way to get something</p>
                            </div>
                        </div>
                    </div>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12">
                                {{ form_row(form.url) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12">
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    {% endif %}
{% endblock %}
