{% extends "::base.html.twig" %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row">
                <h1 class="header">{{ 'main.title' | trans }}</h1>
                <div class="message">{{ 'main.message1' | trans }}</div>
                <div class="message">{{ 'main.message2' | trans }}</div>
            </div>
            <div class="row available-sites">
                <div class="col-sm-12">
                {{ 'filter_form.available_sites' | trans }}:
                <ul class="list-style">
                    {% for site in urls %}
                        <li class="inline"><a href="http://www.{{ site.siteUrl }}" target="_blank">{{ site.siteUrl }}</a></li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            <div class="form-content">
                <div class="row flash">
                    <div class="col-sm-12">
                        {% include '@App/flash_messages.html.twig' %}
                    </div>
                </div>
                <div class="row">
                    <div class="filter-form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form_widget(form.url) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form_widget(form.save) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        $( document ).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            const name = $('#first_query_name');
            const email = $('#first_query_email');
            const url = $('#first_query_url');
            const save = $('#first_query_save');
            const nameGroup = name.parent().closest('.form-group');
            const emailGroup = email.parent().closest('.form-group');
            nameGroup.hide();
            emailGroup.hide();
            save.prop('disabled', true);
            var animation = true;
            url.on('input', function () {
                if (animation) {
                    animate(nameGroup, "+=50");
                    animate(emailGroup, "+=50");
                    animation = false;
                    save.prop('disabled', false);
                } else {
                    if (url.val().length == 0) {
                        animate(nameGroup, "-=50");
                        animate(emailGroup, "-=50");
                        animation = true;
                        save.prop('disabled', true);
                    }
                }
            });

            function animate(obj, diff) {
                obj.animate({
                    left: diff,
                    height: "toggle"
                }, 500, function() {
                });
            }
        });
    </script>
{% endblock %}
