{% extends "::base.html.twig" %}

{% block body %}
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="page-wrap">
            <section class="pageSection">
                <div class="container">
                    <div class="row">
                        <div class="content mb2">
                            <h1>See it first</h1>
                            <small>
                                The easiest way to catch a deal!!!
                            </small>
                        </div>
                    </div>
                    <div class="filter-form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                {{ form_label(form.url) }}
                                <div class="col-sm-8">
                                    {{ form_widget(form.url) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.name) }}
                                <div class="col-sm-8">
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                <div class="col-sm-8">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    {{ form_widget(form.save) }}
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        $( document ).ready(function() {
            const name = $('#form_name');
            const email = $('#form_email');
            const url = $('#form_url');
            const save = $('#form_save');
            const nameGroup = name.parent().closest('.form-group');
            const emailGroup = email.parent().closest('.form-group');
            nameGroup.hide();
            emailGroup.hide();
            save.prop('disabled', true);
            var animation = true;
            url.on('input', function () {
                if (animation) {
                    animate(nameGroup, "+=50");
                    animate(emailGroup, "+=50");
                    animation = false;
                    save.prop('disabled', false);
                } else {
                    if (url.val().length == 0) {
                        animate(nameGroup, "-=50");
                        animate(emailGroup, "-=50");
                        animation = true;
                        save.prop('disabled', true);
                    }
                }
            });

            function animate(obj, diff) {
                obj.animate({
                    left: diff,
                    height: "toggle"
                }, 500, function() {
                });
            }
        });
    </script>
{% endblock %}