{% extends "::base.html.twig" %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="header">{{ 'main.title' | trans }}</h1>
                    <div class="message message-first">{{ 'main.message1' | trans }}</div>
                    <div class="message">{{ 'main.message2' | trans }}</div>
                </div>
            </div>
            <div class="row available-sites">
                <div class="col-sm-12">
                {{ 'filter_form.available_sites' | trans }}:
                <ul class="list-style">
                    {% for site in urls %}
                        <li class="inline"><a href="http://www.{{ site.siteUrl }}" target="_blank">{{ site.siteUrl }}</a></li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            <div class="form-content">
                <div class="row flash">
                    <div class="col-sm-12">
                        <div id="alert-placeholder">

                        </div>
                        {#{% include '@App/flash_messages.html.twig' %}#}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="filter-form">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{ form_widget(form.url) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 submit-links">
                        <ul>
                            <li>
                                <a href="#" class="fa fa-envelope-o"></a>
                            </li>
                            {#<li>#}
                                {#<a href="#" class="fa fa-facebook"></a>#}
                            {#</li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        $( document ).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            const name = $('#first_query_name');
            const email = $('#first_query_email');
            const url = $('#first_query_url');
            const save = $('#first_query_save');
            const nameGroup = name.parent().closest('.form-group');
            const emailGroup = email.parent().closest('.form-group');
            nameGroup.hide();
            emailGroup.hide();
            save.prop('disabled', true);
            var animation = true;
            url.on('input', function () {
                if (animation) {
                    animate(nameGroup, "+=50");
                    animate(emailGroup, "+=50");
                    animation = false;
                    save.prop('disabled', false);
                } else {
                    if (url.val().length == 0) {
                        animate(nameGroup, "-=50");
                        animate(emailGroup, "-=50");
                        animation = true;
                        save.prop('disabled', true);
                    }
                }
            });

            function animate(obj, diff) {
                obj.animate({
                    left: diff,
                    height: "toggle"
                }, 500, function() {
                });
            }

            var route = "{{ path('sif_submit')|escape('js') }}";

            $('.fa-envelope-o').click(function() {
                const postData = {
                    email: email.val(),
                    url: url.val(),
                    name: name.val()
                };
                if ($("form[name='first_query']").valid()) {
                    $.post(route, postData, function (data) {
                        bootstrapAlert('success', data.message);
                        email.val('');
                        url.val('');
                        name.val('');
                        nameGroup.hide();
                        emailGroup.hide();
                        animation = true;

                    }).fail(function (data) {
                        if (data.hasOwnProperty('responseJSON')) {
                            bootstrapAlert('danger', data.responseJSON.message)
                        } else {
                            bootstrapAlert('danger', 'Kažkas negerai. Bandykite dar kartą.')
                        }
                    })
                }
            });

            function bootstrapAlert(type, message) {
                $('#alert-placeholder').html('<div class="alert alert-'+type+' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+message+'</div>')
            }
        });
    </script>

{% endblock %}
