{% extends "::base.html.twig" %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-head">
                        <h1 class="header">{{ 'main.title' | trans }}</h1>
                        <p class="message message-first">{{ 'main.message1' | trans }}</p>
                        <p class="message">{{ 'main.message2' | trans }}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="big-form">
                        <div class="available-sites">
                            {{ 'filter_form.available_sites' | trans }}:
                            <ul class="list-style">
                                {% for site in urls %}
                                    <li class="inline"><a href="http://www.{{ site.siteUrl }}" target="_blank">{{ site.siteUrl }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="alert-placeholder"></div>
                        {{ form_start(form) }}
                            <div class="input-field">{{ form_widget(form.url) }}</div>
                            <div class="input-field">{{ form_widget(form.name) }}</div>
                            <div class="input-field">{{ form_widget(form.email) }}</div>
                            <div>
                                <button class="btn btn-primary btn-sh-primary">Patvirtinti</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        $( document ).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            const name = $('#first_query_name');
            const email = $('#first_query_email');
            const url = $('#first_query_url');
            const nameGroup = name.parent().closest('.form-group');
            const emailGroup = email.parent().closest('.form-group');

            var route = "{{ path('sif_submit')|escape('js') }}";

            $('.btn').click(function(e) {
                e.preventDefault();
                const postData = {
                    email: email.val(),
                    url: url.val(),
                    name: name.val()
                };
                if ($("form[name='first_query']").valid()) {
                    $.post(route, postData, function (data) {
                        bootstrapAlert('success', data.message);
                        email.val('');
                        url.val('');
                        name.val('');
                        nameGroup.hide();
                        emailGroup.hide();
                        animation = true;

                    }).fail(function (data) {
                        if (data.hasOwnProperty('responseJSON')) {
                            bootstrapAlert('danger', data.responseJSON.message)
                        } else {
                            bootstrapAlert('danger', 'Kažkas negerai. Bandykite dar kartą.')
                        }
                    })
                }
            });

            function bootstrapAlert(type, message) {
                $('#alert-placeholder').html('<div class="alert alert-'+type+'">'+message+'</div>')
            }
        });
    </script>

{% endblock %}
